<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragmentos :: head('Lista de Professores')}"></head>
<body>
	<header th:replace="~{fragmentos :: header('Lista de Professores')}"></header>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Salário</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "professor : ${professores}">
                        <th th:text = "${professor.id}" class="col-1"></th>
                        <td th:text = "${professor.name}"   class="col-4" ></td>
                        <td th:text = "${professor.salary}"  class="col-2" ></td>
                        <td th:text = "${professor.statusProfessor}"  class="col-2" ></td>
                        <td class="col-1"><a class="btn btn-primary" href="#">Editar</a></td>
                        <td class="col-1"><a class="btn btn-danger" th:href="@{/professores/delete/{id}(id=${professor.id})}">Excluir</a></td>
                        <td class="col-1"><a class="btn btn-warning" style="color: white;" href="#" >Detalhes</a></td>
                    </tr>
                    </tbody>
                </table>
                 <div class="alert alert-danger" role="alert" th:if="${professores.isEmpty() == true}">Não há registros cadastrados
            </div>
        </div>
    </div>
    	<a class="btn btn-primary" href="/professores/new">Novo Professor</a>
    </div>
</body>
</html>